/* ! debug */
* {
  outline: 1px solid hsla(0, 100%, 50%, 33%);
  /* padding: .7%; */
}
/* ! debug */

body, *, *::before, *::after {
  user-select: none;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 1vh;
}

header #title {
  display: flex;
  width: max-content;
  height: max-content;
}

header #points {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: max-content;
  gap: 1vw;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 10;
  gap: 2vh;
}

#round {
  display: flex;
  flex-direction: row;
  width: max-content;
  height: max-content;
  gap: 1vw;
}

#choices {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: max-content;
  gap: 3vw;
}

#choices .choice {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-width: 175px;
  min-height: 175px;
  max-width: 360px;
  max-height: 360px;
  width: max-content;
  height: max-content;
}

#choices .choice:last-child .icon {
  transform: rotate(270deg);
}

/* footer {
  display: flex;
  flex: 1;
} */